body{
    background-color: #ffc5f2dd;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #9d529c;
    text-align: center;
    padding: 0px;
    margin: 20px;
    border: solid;
    border-radius: 10px;
}


nav ul li{
    display: inline;
    list-style-type: none;
    padding: 20px;
    
}


.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF; 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}